@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');

*{
    margin: 0;
    padding: 0;
}

/* Styling of Left side */ 

.wrapper{
    display: flex;
    height: 90vh;
}

.left{
    display: flex;
    flex : 1 1 10rem;
    flex-direction: column;
    /* width: 50%; */
    justify-content: center;
    align-items: center;
    padding : 10px 0;
}

.left img{
    width: 100%;
}


.left h4{
    font-size: 3rem;
    font-family: 'Satisfy', cursive;
    text-align: center;
    padding: rem 0;
}

/* Styling of left side ends */

/* Style right side of the page */

.right{
    display: flex;
    /* width: 50%; */
    flex : 1 1 10rem;
}

.form-div{
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content:center;
    padding: 5% 5%; 
}

.signup{
    margin-left: 40%;
}

.form-outermost{
    margin: 0 10%;
    width: 80%;
}

.form-outermost a{
    color: #083b2f;
    float: right;
    margin-top: 4px;
    padding: 0 10px;
}

.btn{
    border: 0;
    background-color: #2CBB99;
}

/* Media Query */

@media screen and (max-width : 790px)
{
    .wrapper{
        flex-direction: column;
        padding  : 2rem;
    }        
}

/* Styling of right side ends */